 <div class="container mt-5 ">
     <div class="row">
    <div class="col-md-12 col-sm-12">
        <p style="color:rgb(210,105,30);
        font-size: 4vw;
         text-align: center;
        text-shadow:  1px 1px rgb(0, 0, 139);">Simpli<span style="color:rgb(30,144,255)">Recruit</span></p>
    </div>
     </div>
      <div class="row">
     <div  class="col-md-12 col-sm-12 " style="border:1px solid black; margin-top: 20px;">
         <h3 class="text-center mt-4">Instructions</h3>
         <ol>
           <li> Ensure that you are attempting the test using the correct email ID.</li>

           <li> You must click Submit after you answer each question.</li>
            
           <li> If you need assistance during the test, click the question mark (?) in the lower-right corner of the page to raise a ticket.</li>
            
            <li>  Once the test has started, the timer cannot be paused. You have to complete the test in one attempt.</li>
            
                <li> Do not close the browser window or tab of the test interface before you submit your final answers.</li>
            
                    <li> It is recommended that you ensure that your system meets SimpliRecruits's compatibility requirements and check your Internet connection before starting the test.</li>
            
                        <li>It is recommended that you attempt the test in an incognito or private window so that any extensions installed do not interfere with the test environment.</li>
            
                            <li>  We recommend that you close all other windows and tabs to ensure that there are no distractions.</li>
         </ol>
         
     </div>
    
      </div>
     <div class="text-center mt-4">
        <input type="button" class=" btn bg-info" value="Start" (click) = "startEventHandler();">
        </div>
 </div>