     <div class="container">
      <div class="row mt-4">
        <div class="col-md-7 col-sm-12">
        	<img src="../assets/SL.png/" class="img-fluid" style="height: 600px; border: 2px solid black">
       
</div>


        


        <div class="col-md-5 col-sm-12 "  id="login" style="border: 2px solid black; background-color: white">
          <div id="loginsection">
            <div>
                <img src="../assets/Si.jpg/" class="imgs" style ="height: 100px; margin-top: 20px; margin-left:40%;" class="img-fluid">
                 
       
            </div>
            <div>
            	<p style="color:rgb(210,105,30)">Simpli<span style="color:rgb(30,144,255)">Recruit</span></p>
            </div>
             <div class="row">
              <form class=" offset-3" [formGroup]="loginForm">
                <div class="form-group">
                  <input type="text" placeholder="Enter the username" id="usernametxt" class="form-control" formControlName="userName">
                  <div *ngIf = "loginForm.get('userName').errors?.required && (!loginForm.get('passWord').pristine||loginForm.get('passWord').touched)">
                    <h6 style="color:red">Username Required</h6>
                </div>
                </div>
                <div class="form-group">
                  <input type="password" formControlName="passWord" placeholder="Enter the password" id="usernamepassword" style="margin-bottom: 1px"class="form-control">
                  <div *ngIf =  "loginForm.get('passWord').errors?.required && (!loginForm.get('passWord').pristine||loginForm.get('passWord').touched)">
                   <h6 style="color:red">Password Required</h6>
                </div>
                <div *ngIf ="loginForm.get('passWord').errors?.minlength && (!loginForm.get('passWord').pristine||loginForm.get('passWord').touched)">
                  <h6 style="color:red">Enter minimum 8 characters</h6>
                </div>
                <div *ngIf ="(!loginForm.get('passWord').errors?.minlength) && (loginForm.get('passWord').errors?.pattern)&& 
                (!loginForm.get('passWord').pristine||loginForm.get('passWord').touched)">
                  <h6 style="color:red">Enter a special character</h6>
                </div>
               
               
                </div>
                 
               <div>
                <input type="checkbox" style="padding-top: 0px"><label> Remember me</label>
                </div>
              <div class="form-group">
                 <input type="button" (click)="loginEventHandler()" [disabled]="!loginForm.valid" value="Login" class="xyz w-100 "  >
              </div>
              <div class="form-group">
                <input type="button" value="Login with Google" class="xyz w-100 ">
                </div>
                 
                 
                 

                

                <div class="form-group offset-3">
                 <a href ="#" >Forget Password</a> </div>
                 <div class="form-group offset-5">
                 <a class="link " (click)= "registerEventHandler();">Register</a> </div>

                
           
           
                
            </form>
             <!-- <form class=" offset-3" [formGroup]="loginForm">

                <div class="form-group">
                <input type="text" placeholder="Enter the username" id="usernametxt" class="form-control" formControlName="userName">
                <div *ngIf = "loginForm.get('userName').errors?.required && (!loginForm.get('passWord').pristine||loginForm.get('passWord').touched)">
                  Username Required
              </div>
              </div>
               
              <div class="form-group">
                <input type="password" formControlName="passWord" placeholder="Enter the password" id="usernamepassword" style="margin-bottom: 1px"class="form-control">
                <div *ngIf =  "loginForm.get('passWord').errors?.required && (!loginForm.get('passWord').pristine||loginForm.get('passWord').touched)">
                  password Required
              </div>
              <div *ngIf ="loginForm.get('passWord').errors?.minlength && (!loginForm.get('passWord').pristine||loginForm.get('passWord').touched)">
                  password Required min 8
              </div>
             
             
              </div>
                <div>
                <input type="checkbox" style="padding-top: 0px"><label> Remember me</label>
                </div>
              <div class="form-group">
                 <input type="button" (click)="loginEventHandler()" value="Login" class="xyz w-100 "  >
              </div>
              <div class="form-group">
                <input type="button" value="Login with Google" class="xyz w-100 ">
                </div>
                 
                 
                 

                <br><br>

                <div class="form-group offset-3">
                 <a href ="#" >Forget Password</a> </div>
                 <div class="form-group offset-5">
                 <a href ="RegREC.html" (click)= "registerEventHandler();">Register</a> </div>

                  

             </form>-->
             </div> 
               
            </div>
          </div>
        </div>