
p
{ 
    color: black;
	font-size: 4vw;
     text-align: center;
	text-shadow:  1px 1px rgb(0, 0, 139);
	
}
.xyz
{
	background-color: rgb(0,0,255);
    height: 40px;

}
#sign
{
	text-align: center;
}
.imgs
{
	
	padding-top: 10px;
    margin-left: 40%;
    margin-top: 20pz;
}


   